@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global fallback values for interactive background */
:root {
  --x: 50%;
  --y: 50%;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes drawLineEased {
  0% {
    stroke-dashoffset: 1000;
  }
  53.3% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
